// primary colors
$primary-font-color: #333;
$primary-background-100: #eef9fc;

// form colors
$form-primary-color: #cc6666;
$form-secondary-color: #cc4949;

// note card colors
$note-900: #081316;
$note-800: #193943;
$note-700: #295f70;
$note-600: #4298b3;
$note-500: #52bee0;
$note-400: #75cbe6;
$note-300: #a9dff0;
$note-200: #cbecf6;
$note-100: #eef9fc;

// other
$neutral-200: #84b4b1;
$neutral-100: #c3e0df;
$color_white: #fff;
$color_coral: #edbbbb;
